In [1]:
import gspread, json, pandas as pd, numpy as np
from oauth2client.service_account import ServiceAccountCredentials

with open('config.json', 'r') as file:
    credentials = json.load(file)
    feeds = credentials['feeds']
    auth = credentials['auth']

#input sheet to be validated
main_sheets_input = str(input('Enter main sheet name (5XX): '))
response_sheets_input = main_sheets_input +' (Responses)'

#setting up scope and authorise credential
scope = [feeds, auth]
credentials = ServiceAccountCredentials.from_json_keyfile_name('credential.json', scope)
gc = gspread.authorize(credentials)

#fetching main google sheet
main_sheets, response_sheets = gc.open(main_sheets_input).sheet1, gc.open(response_sheets_input).sheet1
main_data, response_data = main_sheets.get_all_values(), response_sheets.get_all_values()

#Arrange and clean data
main_df, response_df = pd.DataFrame(main_data).drop([0, 1]).replace(r'^\s*$', np.nan, regex=True).dropna().reset_index(drop=True), pd.DataFrame(response_data).drop(0).reset_index(drop=True)
main_df.columns, response_df.columns = ['No', 'Name', 'Image Number'], ['Timestamp', 'Agreement', 'Name', 'Gender', 'Position', 'Image Number', 'Phone Number', 'Home Number', 'Email', 'Adress']
main_image_number, response_image_number = main_df['Image Number'], response_df['Image Number']

In [5]:
main_df.head()

  No                Name Image Number
0  1  ANSON LIM YEK PONG         1027
1  2      ENG NG JUN WEI         1034
2  3       FONG JIA CONG         1028
3  4        GAN YONG TAI         1030
4  5         GOH XING ZE         1023

In [6]:
response_df.head()

,Timestamp,Agreement,Name,Gender,Position,Image Number,Phone Number,Home Number,Email,Adress
0,7/12/2021 13:27:33,I have read ALL the guidelines mentioned above.,ANSON LIM YEK PONG,Male | Lelaki,,1027,0129815425,,m-2182919@moe-dl.edu.my,"34, Lrg SELESA 3, Tmn SELESA ALMA, 14000, B.M"
1,7/16/2021 17:29:15,I have read ALL the guidelines mentioned above.,ENG NG JUN WEI,Male | Lelaki,,1034,018-4636266,,Junweieng@gmail.co.,"56, Lrg Impian Indah 16, Tmn Impian Indah, 140..."
2,7/12/2021 15:46:56,I have read ALL the guidelines mentioned above.,FONG JIA CONG,Male | Lelaki,,1028,011-11059160,,fongjiacong13@gmail.com,"16, Lrg Santuari 4, Tmn Santuari, 14000 B.M."
3,7/16/2021 17:33:55,I have read ALL the guidelines mentioned above.,GAN YONG TAI,Male | Lelaki,,1030,010-8686563,-,ganyongtai04@gmail.com,"55, Lrg Damai 2, Tmn Permata, 14000 B.M."
4,7/13/2021 12:09:04,I have read ALL the guidelines mentioned above.,GOH XING ZE,Male | Lelaki,,1023,0125839553,,xingze0313@gmail.com,"5,Jln Saujana 1/1, Tmn Saujana Indah, 14000 BM"

In [7]:
validation = main_image_number == response_image_number

for index, count in enumerate(validation):
    print(index+1, count)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
Name: Image Number, dtype: bool